<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    
</head>
<body>
    <h1>User Profile</h1>
    <p>Name: <span th:text="${user.name}">User Name</span></p>
    <p>Email: <span th:text="${user.email}">User Email</span></p>
    <p>Balance: <span th:text="${user.Balance}">Balance</span></p>
    <p>UPI Transfer <a href="/upi">send here</a></p>
    <button type="submit" class="god">logout</button>
    <button type="submit" class="god2">paypal</button>
    <button type="submit" class="god3">razorpay</button>
</body>
</html>
