<!DOCTYPE html>
<html>
<head>PAYX
<title>UPI</title>
</head>
<body>

    <form id="UPIForm" method="POST" action="/upipayment">
        <div class="m3">
            <label for="email" class="form-label">UPI-ID</label>
            <input type="text" class="form-control" id="name" name="upi-id" placeholder="Enter upi-id" required>
        </div>
        <div class="m3">
            <label for="Balance" class="form-label">Amount</label>
            <input type="integer" class="form-control" id="balance" name="balance" placeholder="Enter balance" required>
        </div>
        <button type="submit" class="god">SEND</button>
    </form>


</body>

</html>